

#side_pannel{
   
    width: 50px;
    justify-self: left;
    position: fixed;
    margin-left: 50px;
    margin-top:20px;
    
}

#media_icons{

    height:70px;
  
   transition: transform 0.5s ease;
   
}

#media_icons:hover{

    transform: translate(70px,0);
}


h1{

    text-align: center;
    font-size: 50px;
    
}

h3{
    font-size: 30px;
    margin-left: 250px;
}
p{
    text-align: left;
    font-size: 30px;
    margin-left: 180px;
}

#arabe{

    text-align: right;
    margin-right: 70px;
}

#arabe_title{
text-align: right;
    margin-right: 150px;
    
}



#sections_icons{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px
}



#img_icons{

    transition: transform 0.5s ease;
    height: 150px;
}

#img_icons:hover{

    transform: translate(0,-50px);
}



